.button-container{
  display: flex;
  justify-content: space-evenly;
}
.third-img{
  width: 100%;
  height: 300px;
  margin-top: 1rem;
}
.bottom-pagination{
  width: 200px;
  margin: auto;
  display: flex;
  margin-top: 30px;
}
.circle-text{
  margin-right: 28px;
}
.active-circle{
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 100%;
  margin-right: 25px;
  cursor: pointer;
}

.circle{
  width: 20px;
  height: 20px;
  border: 1px solid green;
  border-radius: 100%;
  margin-right: 25px;
  cursor: pointer;
}
.main-content{
  width: 480px;
  margin: auto;
  border: 2px solid blueviolet;
  padding: 10px
}

.page3{
  width: 1000px;
  height: auto;
}